.loader {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.loader img {
  display: block;
  width: 25px;
  height: 25px;
  animation: anima 1s linear infinite;
}

@keyframes anima {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}
